.btn {
  display: inline-block;
  background-color: var(--color-primary);
  border: none;
  padding: 2.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  color: white;

  @include respond(phone) {
    padding: 3rem 1rem;
    border-radius: 20%;
  }

  &--text {
    display: inline-block;
    background: none;
    color: var(--color-primary);
    border: none;
    border-bottom: 0.5px solid currentColor;
    padding-bottom: 4px;
    cursor: pointer;
    transition: all 0.3s;
  }

  &:hover {
    background-color: var(--color-primary-darker);
  }
}
